{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
{# {{ parent() }} #}
    <table class="table">
        <tr>
            <td>id</td>
            <td>titre</td>
            <td>quantité</td>
            <td>prix</td>
            <td>prix Total</td>
            <td>action</td>
        </tr>

       {# {% for index,  monPaniers in panier %} 
            {% for monpanier in monPaniers %}
                <td>{{ monpanier }}</td>
            {% endfor %}
        {% endfor %} #}

{# cette boucle nous permet de récupérer surtout la clé ( ce qui nous interesse le plus )#}
        {% for key, value in  panier.conferenceId %}
        <tr> 
            <td>{{ panier.conferenceId[key]}}</td><td>{{ panier.titre[key] }}</td><td>{{ panier.quantite[key] }}</td><td>{{ panier.prix[key]}}</td><td>{{ panier.quantite[key] * panier.prix[key] }}</td><td><a href="{{ path('app_panier_a_supprimer',{'conferenceId':panier.conferenceId[key]}) }}">supprimer</a></td>
        </tr>
        {% endfor %}


        <tr><td></td><td></td><td></td><td></td><td> </td></tr>
        <tr><td></td><td></td><td></td><td></td><td> </td></tr>
        <tr><td></td><td></td><td></td><td></td><td> </td></tr>
        <tr><td></td><td></td><td></td><td>Prix Total</td><td> </td></tr>
    </table>

{% endblock %}
