{% extends 'base.html.twig' %}

{% block title %}Hello ConferencsController!{% endblock %}
{% block body %}
{{ parent() }}
{# foreach($conferences as $conference) => {% for conference in conferences %} #}
        {# {{ dump(prenom) }}
        {{ dump(prenom[0]['age']) }}

        {{ 'hello'|upper}} #}
    <div class="container">
        <div class="row">
        
        <div class="col-sm-4">
         {{ include("conferences/partials/_menu.html.twig") }}
        </div>
        <div class="col-sm-8">
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ conference.titre}}</div>
        <div class="card-header" style='margin:auto'><img src="{{ asset(conference.image.url) }}" width="250" /></div>
        <div class="card-body">
        <p class="card-text">{{ conference.description }}</p>
        <h5 class="card-title">{{ conference.lieu }}</h5>
        <h5 class="card-title">{{ conference.date|date('d-m-Y') }}</h5>
        {# <a href="{{path('conference.supp', {'id':conference.id})}}">Supprimer</a> #}
        {% if is_granted('WASHIHI',conference) %} 
        <a href="{{path('conference.edit', {'id':conference.id})}}">Modifier</a>
        <a href="{{path('conference.supp', {'id':conference.id})}}">Supprimer</a>
        {% endif %}
        <a href="{{path('app_reservation', {'id':conference.id})}}">Réserver</a>    
        <form action="">
        <input type="hidden" name="idConference" value="{{ conference.id }}" />
        <input type="submit" value="commenter"/>
        </form><br>

        <form action="{{ path('app_panier')}}" method="POST">
        <select name="quantite">
            <option value="">Quantité</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select><br>
        <input type="hidden" name="conferenceId" value="{{ conference.id }}" /><br>
        <input type="submit" value="Ajouter au panier" />
        </form>
        {# <a href="?idConference={{ conference.id }}" >Commenter </a> #}
        <a href="{{path('conference.index')}}">Retour</a>
{% if app.request.query.get('like') == 1 %}
<a href="{{ path('favorite',{'id':conference.id})~'?like=0'}}">unlike</a>
{% else %}
<a href="{{ path('favorite',{'id':conference.id})~'?like=1'}}">like</a>
{% endif %}
        </div>
         {% if conference.commentaires is not null %}
        {{ conference.commentaires|length~' commentaires'}}
        {% endif %}
        {{ conference.favorite ~' likes'}}

        </div>

{# {{ dump(app.request.query.get('idConference')) }} #}
{% if app.request.query.get('idConference') is not null %}
    {{ include('conferences/partials/_commentaire.html.twig') }}
{% endif %}
        {% if conference.commentaires is not null %}
        {% for commentaire in conference.commentaires %}
            <i>auteur: {{commentaire.pseudo }} </i><br>
            <i>commentaire: {{commentaire.content }} </i><br>
            <i>auteur: {{commentaire.publishedAt|date('d-m-Y') }} </i><br><br>
        {% endfor %}
        {% endif %}
        </div>

        </div>
     </div>
</div>
{% endblock %}
