{% extends 'base.html.twig' %}

{% block title %}Hello ConferencsController!{% endblock %}
{% block body %}
{# {{ parent() }} #}
{# foreach($conferences as $conference) => {% for conference in conferences %} #}
        {# {{ dump(prenom) }}
        {{ dump(prenom[0]['age']) }}

        {{ 'hello'|upper}} #}
    <div class="container">
        <div class="row">
        
        <div class="col-sm-4">
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ conference.titre}}</div>
        <div class="card-body">
        <p class="card-text">{{ conference.description }}</p>
        <h5 class="card-title">{{ conference.lieu }}</h5>
        <h5 class="card-title">{{ conference.date|date('d-m-Y') }}</h5>
        {# <a href="{{path('conference.supp', {'id':conference.id})}}">Supprimer</a> #}
        <a href="{{path('conference.edit', {'id':conference.id})}}">Modifier</a>
        <a href="{{path('conference.supp', {'id':conference.id})}}">Supprimer</a>
        </div>
        </div>
        </div>
     </div>
</div>
{% endblock %}
