<div class="container">
{{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

<div class="row">
<div class="col-sm-4">
{{ form_row(form.titre) }}
</div>
</div>
<div class="row">
<div class="col-sm-4">
{{ form_row(form.description) }}
</div>
</div>
<div class="row">
<div class="col-sm-4">
{{ form_row(form.lieu) }}
</div>
</div>
<div class="row">
<div class="col-sm-4">

{% if conference is defined  %}
<img src="{{ asset(conference.image.url) }}" width="50 "/>
{% else %}
<i>pas d'image</i>
{% endif %}
</div>
</div>
<div class="row">
<div class="col-sm-4">
{{ form_row(form.categorie) }}
</div>
</div>
{# <input type="submit" value="{{ bouton }}" /> #}
{{ form_end(form)}}

</div>