<h5> Filtre</h5><a href="{{ path('conferences.filtres')}}">effacer</a>
{% set prices = [50,100,150,200,250,300,350,400] %}
<div class="">
<div class="row">
<div class="col-sm-2">
<form id="form" action="{{ path('conferences.filtres')}}" method="post">
<div class="taille">
date:<input type="date" name="dateRecherche" {% if selectedDate is defined %} selected{% endif %}/>
</div>
<div class="taille">
<select name="prix">
<option value="">Selectionner un prix</option>
{% for price in prices %}
<option value="{{ price }}" {% if selectedPrix is defined and price == selectedPrix %} selected {% endif %}>{{ price }}</option>
{% endfor %}
</select>
</div>
<div class="taille">
<select name="categorie">
<option value="">Selectionner une categories</option>
{% for categorie in categories %}
<option value="{{ categorie.nom }}" {% if selectedCategorie is defined and categorie.nom == selectedCategorie %} selected {% endif %}>{{ categorie.nom }} </option>
{% endfor %}
</select>
</div>
<div class="taille">
<input type="submit" />
</div>
</form>
<h5>Dernieres conférences:</h5>
    {{ render(controller(
        'App\\Controller\\ConferencesController::menu', {max: 3}
    )) }}
</div>
</div>
</div>


