<div class="container">
{{ form_start(form) }}
<div class="row">
<div class="col-sm-4">
{{ form_row(form.titre) }}
{# {{ form_widget(form.titre) }} #}
</div>
</div>
<div class="row">
<div class="col-sm-4">
{{ form_row(form.description) }}
{# {{ form_widget(form.titre) }} #}
</div>
</div>
<div class="row">
<div class="col-sm-4">
{{ form_row(form.lieu) }}
{# {{ form_widget(form.titre) }} #}
</div>
</div>
{{ form_end(form)}}
</div>